/* CSS Document */
.info{
  	padding: 15px;
    width: 40%;
    color: #505050;
    background-color:#FFCC99;
    border: 1px solid red;
    margin: auto;
    border-radius: 10px;
    margin-top: 60px;
	margin-left: 60px;
    margin-bottom: 40px;
	float:left;
	box-shadow: 10px 10px 5px #888888;
}
.ranking{
	box-shadow: 10px 10px 5px #888888;
  	padding: 15px;
    width: 100%;
    color: #505050;
    background-color:#FFCC99;
    border: 1px solid red;
    margin: auto;
    border-radius: 10px;
    margin-top: 60px;
	margin-left: 60px;
	float:left;
}
.submissions{
  	padding: 15px;
    width: 100%;
    color: #505050;
    background-color:#FFCC99;
    border: 1px solid red;
    margin: auto;
    border-radius: 10px;
    margin-top: 30px;
	margin-left: 60px;
	float:left;
	box-shadow: 10px 10px 5px #888888;
}


.ranking #head{
	height: 40px;
    font-size: xx-large;
    padding: 10px 5px 0px;
    border-bottom: 1px dotted;
	border-spacing:20px;
}
.info #head{
	height: 40px;
    font-size: xx-large;
    padding: 10px 5px 0px;
	color:#FF0066;
	
}
.submissions table{
	border-spacing: 1px;
    border-style: groove;
	font-weight:bold;
	background-color:#FFFFCC;
}
.info table{
	
    width: 95%;
	background-color:#FFFFCC;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 10px;
}
.info table td:nth-child(1) {
color:#660099;
font-weight:bold;
}
.info table tr:nth-child(odd) {
background-color:#FFFFFF;
}
a:hover
{
color:#0099FF;
}
.ranking table{
	width:104%;
	border-spacing: 1px;
    border-style: groove;
    border-width;
    width: 95%;
	font-weight:bold;
	background-color:#FFFFCC;
}
.theader{
	background-color: #515151;
	color: white;
}
.ranking #rankingTable{
	padding-top: 10px;
    width: 100%;
    margin: auto; 
}
.ranking #rankingTable th{
	background-color: #515151;
	color: white;
}
.ranking #rankingTable tr{
    height: 30px;
    text-align: center;
    padding: 2px;
}
